/* -- General styles --- */
@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratmedium';
    src: url('../fonts/montserrat-medium-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    padding: 0;
    margin: 0;
    
}

body {
    font-size: 1em;
    font-family: 'montserratlight', sans-serif;
}

.wrapper {
    background-image: radial-gradient(48% 102%, #FDFEFF 33%, #D7E7F9 100%);    width: 100%;
    display: block;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-wrap:wrap;
}

.flex-item {
    flex: 0 1 auto;
}

/* --- Home --- */

/* Logo */

#logo-container {
    padding-top: 15vh;
    position: relative;
    height: 100px;
    width: 100px;
}

.logo {
    position: absolute;
    top: 15vh;
    display: none;
}
.active {
    display: block;
}

/* Title */

h1 {
    color: #6F88BE;
    font-family: 'montserratmedium', sans-serif;
    font-size: 36px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-top: 10px;
}

/* Buttons menu */

.main-menu {
    margin-top: auto;
    padding-bottom: 6vh;
    width: 100%;
    text-align: center;
}

.main-menu h3 {
    color: #607A8F;
    font-size:1em;
    font-family: 'montserratlight', sans-serif;
    text-decoration: underline;
    cursor: pointer;
}

.btn {
    display: block;
    background: #8DB5EC;
    border-radius: 31px;
    font-family: 'montserratmedium', sans-serif;
    font-size: 1.3em;
    color: #FDFEFF;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 15px 0;
    margin-top: 10px;
    cursor: pointer;
    border: none;
}

/* --- Instructions --- */

.close {
    position: fixed;
    top: 3%;
    right: 5%;
    cursor: pointer;
}

.rulesView {
    background-color: white;
    padding: 7% 5% 5% 5%;
}

.text-box{
    color: #607A8F;
    margin-bottom: 15px;
}

.text-box h3 {
    font-size: 20px;
    font-weight: 800;
    font-family: 'montserratmedium', sans-serif;
    margin-bottom: 5px;
}
.text-box p {
    font-size: 1.125em;
    font-family: 'montserratlight', sans-serif;
    letter-spacing: 0;
    line-height: 1.2em;
}
.title-icon img, .title-icon h3{
    display: inline-block;
    vertical-align: middle;
    margin-bottom:5px;
}

.title-icon > img {
    width: 50px;
}

.text-box:last-child {
    margin-top:50px
}
.text-box button {
    margin: 50px auto;
}

.btn-trans {
    background-color:transparent;
    border: solid 1px #8DB5EC;
    color: #8DB5EC;
}

/* --- Choose move --- */

.title-round { 
    text-align: center;
}

.title-round {
    padding-top: 10vh;
}

.title-round h3 {
    font-family: 'montserratmedium', sans-serif;
    font-size: 24px;
    color: #8DB5EC;
}

.title-round h4 {
    color: #607A8F;
    font-size: 18px;
} 

.hand {
    align-self: flex-start;
    padding-top:8vh;
}

.hand img  {
    width: 70vw;
}

.move-menu {
    margin-top: auto;
    padding-bottom: 10px;
}

.move-menu img {
    width: 100px;
    padding: 5px 3px;
    cursor: pointer;
}

/* --- Results --- */

.title-result h2 {
    font-size: 36px;
    font-weight: 700;
    padding-top: 5vh;
    font-family: 'montserratmedium', sans-serif;
}
.win-title {
    color: #99D2DA;
}

.lose-title {
    color: #DA9C99;
}

.lose-icon, .win-player1 {
    opacity: .4;
}

.results-icons {
    padding-top: 2vh;
}

.results-icons img {
    width: 100px;
}

#player1Icon {
    transform: rotate(90deg) scaleX(-1);
}

#player2Icon {
    transform: rotate(270deg);
}

.vs {
    font-weight: 700;
    font-size: 24px;
    color: #597B91;
    font-family: 'montserratmedium', sans-serif;
}

.result-msg {
    color: #607A8F;
    font-size:20px;
    padding: 20px;
}

.scoreboard {
    padding-top: 3vh;
    margin-top: auto;
}

.scoreboard div{
    display: inline-block;
    vertical-align: middle;
}

.score-label {
    background-color: #6F88BE;
    font-size: 16px;
    color: white;
    padding: 5px 20px;
    width: 55px;
    text-align: center;
}

.score-label p {
    font-family: 'montserratlight', sans-serif;
}

.score {
    border: solid 3px #6F88BE;
    font-size: 48px;
    color: #6F88BE;
    padding: 5px 20px;
}

.btn-trans {
    background-color: transparent;
    border: 1px solid #6F88BE;
    color: #6F88BE;
}

/* --- Desktop --- */
@media (min-width: 992px) {
    .wrapper {
        width: 700px;
        border: 1px solid #979797;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
        margin: 0 auto;
        height: 600px;
        margin-top: 50px;
    }
    #logo-container {
        height: 120px;
        width: 120px;
        padding-top: 7vh;
    }
    
    .logo {
        position: absolute;
        width: 120px;
        top: 7vh;        
    }
    h1 {
        margin-top: 0;
    }
    .btn {
        font-size: 20px;
        width: 45%;
        margin-top: 15px;
        padding: 15px 0;
        font-weight: initial;
    }
    .main-menu {
        margin-top: auto;
    }
    .main-menu > h3 {
        font-size:18px;
    }
    
    .title-round h3 {
        font-size: 36px;
    }
    
    .title-round h4 {
        color: #607A8F;
        font-size: 24px;
    } 
    
    .hand {
        width: 100%
    }
    
    .hand img  {
        width: 45%;
    }

    .hand {
        padding-top: 0;
    }

    .move-menu {
        margin-top: 0;
    }

    .rulesView {
        height: 100%;
        overflow: scroll;
        position: relative;
        box-sizing: border-box;
        padding: 7% 10%;
    }

    .close {
        position: absolute;
        top: 7%;
    }

    .results-icons {
        width: 50%;
    }

    .results-icons img {
        width: 110px;
    }

    .vs {
        font-size:30px;
    }

    .title-result h2 {
        font-size: 42px;
    }

    .result-msg  p{
        font-family: 'montserratlight', sans-serif;
        font-size:24px;
    }
    .scoreboard {
        margin-top: 0;
    }
}

/* --- Desktop HD ---*/
@media screen and (min-width: 1200px) {
    .wrapper {
        width: 1000px;
        border: 1px solid #979797;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
        margin: 0 auto;
        margin-top: 50px;
    }
    #logo-container {
        height: 150px;
        width: 150px;
    }
    
    .logo {
        position: absolute;
        width: 150px;
        top: 15vh;        
    }
    h1 {
        margin-top: 20px;
    }
    .btn {
        font-size: 24px;
        margin-top: 25px;
        padding: 20px 0;
    }
    .main-menu {
        padding-bottom: 6vh;
        margin-top:0;
    }
    .main-menu > h3 {
        font-size:18px;
    }
    
    .title-round h3 {
        font-size: 36px;
    }
    
    .title-round h4 {
        color: #607A8F;
        font-size: 24px;
    } 
    
    .hand {
        width: 100%
    }
    
    .hand img  {
        width: 45%;
    }

    .hand {
        padding-top: 0;
    }

    .move-menu {
        margin-top: 0;
    }

    .rulesView {
        height: 100%;
        overflow: scroll;
        position: relative;
        box-sizing: border-box;
        padding: 7% 10%;
    }

    .close {
        position: absolute;
        top: 7%;
    }

    .results-icons {
        width: 50%;
    }

    .results-icons img {
        width: 125px;
    }

    .vs {
        font-size:30px;
    }

    .title-result h2 {
        font-size: 48px;
    }

    .result-msg  p{
        font-family: 'montserratlight', sans-serif;
        font-size:24px;
    }
}